<h1>New User Account</h1>

<form action="/users" method="post">
  <p>
    <label for="user_first_name">First Name</label>
    <input type="text" name="user[first_name]" id="user_first_name">
  </p>
  <p>
    <label for="user_last_name">Last Name</label>
    <input type="text" name="user[last_name]" id="user_last_name">
  </p>
  <p>
    <label for="user_email">Email</label>
    <input type="text" name="user[email]" id="user_email">
  </p>
  <p>
    <label for="user_password">Password</label>
    <input type="password" name="user[password]" id="user_password">
  </p>
  <button type="submit">Signup</button>
</form>
